@use '../abstracts/variables' as v;

.btn {
  align-self: flex-start;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  color: v.$text-green;
  background-color: v.$btn-primary-creme;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &:hover {
    background-color: v.$btn-primary-creme-hover;
    transform: scale(1.05);
  }

  &--secondary {
    background-color: transparent;
    color: v.$text-white;
    margin-top: 0;
    gap: 10px;
    &:hover {
      background-color: v.$btn-tertialy;
    }
  }

  &--type {
    margin-top: 0;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: v.$bg-input;
    font-size: 15px;
    &:hover {
      transform: none;
      background-color: v.$bg-input;
    }
  }

  &--add {
    margin-top: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 5px;
     &:hover {
      transform: none;
      background-color: v.$bg-input;
    }
  }

  &__text {
    font-weight: 400;
    color: v.$text-green-dark;
  }

  &__icon {
    &.open {
      transform: rotate(180deg);
    }
    
  }
}
