@use '../abstracts/variables' as v;

.btn {
  align-self: flex-start;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  color: v.$text-green;
  background-color: v.$btn-primary-creme;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &:not(:disabled):hover {
    background-color: v.$btn-primary-creme-hover;
    transform: scale(1.05);
  }

  &--secondary {
    background-color: transparent;
    color: v.$text-white;
    margin-top: 0;
    gap: 10px;
    &:hover {
      background-color: v.$btn-tertialy !important;
    }
  }

  &--type {
    margin-top: 0;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: v.$bg-input;
    font-size: 15px;
    &:hover {
      transform: none;
      background-color: v.$bg-input;
    }
  }

  &--like {
    align-self: normal;
    margin-top: 0;
    padding: 1px;
    border-radius: 12px;
    background-color: transparent;
    &:hover {
      background-color: v.$btn-secondary !important;
    }
  }

  &--previous {
    margin-top: 0;
    padding: 5px 10px;
    background-color: transparent;
    &:hover {
      background-color: v.$bg-input;
    }
  }

  &--newRecipe {
    align-self: flex-end;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: transparent;
    &:hover {
      background-color: v.$bg-input;
    }
  }

  &--newRecipeGen {
    align-self: flex-end;
    margin-top: 0;
    padding: 5px 10px;
    background-color: transparent;
    &:hover {
      background-color: #55734e !important;
    }
  }

  &--green {
    background-color: v.$btn-primary-green;
    color: v.$text-white;
    align-self: flex-end;
    padding: 15px 20px;
    margin-top: 80px;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: none;
      background-color: v.$btn-primary-green-hover !important;
      transform: scale(1.05);
    }
  }

  &--add {
    margin-top: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 5px;
    &:hover {
      transform: none;
      background-color: v.$bg-input;
    }
  }

  &--edit,
  &--delete {
    margin-top: 0;
    padding: 2px;
    background-color: transparent;
    border-radius: 5px;
    &:hover {
      transform: none;
    }
  }

  &--minus,
  &--plus {
    margin-top: 0;
    padding: 2px;
    background-color: transparent;
    border-radius: 5px;
    &:hover {
      transform: none;
      background-color: v.$bg-green-card;
    }
    &:disabled {
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  &--generate {
    margin-top: 10px;
    align-self: center;
    background-color: v.$btn-primary-green;
    color: v.$text-white;
    &:not(:disabled):hover {
      background-color: v.$btn-primary-green-hover;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &--view {
    margin-top: auto;
  }

  &--cookbook {
    margin-top: 0;
    padding: 10px 15px;
    background-color: v.$btn-primary-green;

    font-size: 25px;
    color: v.$text-white;
    &:hover {
      transform: none;
      background-color: v.$btn-primary-green-hover !important;
    }
  }

  &__text {
    font-weight: 400;
    color: v.$text-green-dark;
    &--previous {
      color: v.$text-green;
      font-weight: 400;
      font-size: 16px;
    }
    &--cookbook {
      color: v.$text-white;
    }
  }

  &__icon {
    &.open {
      transform: rotate(180deg);
    }

    &--like {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: 1050px) {
  .btn {
    &--green {
      align-self: center;
      margin-top: 30px;
    }
  }
}

@media (max-width: 1045px) {
  .btn {
    &--newRecipeGen {
      align-self:center;
    }
  }
}

@media (max-width: 1000px) {
  .btn {
    &:not(:disabled):hover {
      transform: none;
    }
    &--secondary {
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

@media (max-width: 340px) {
  .btn {
    &--secondary {
      padding: 0;
    }
  }
}
