@use '../abstracts/variables' as v;

.card {
  background-color: v.$bg-recipe-card;
  width: 300px;
  min-height: 260px;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  &:hover {
    background-color: v.$bg-recipe-card-hover;
  }

  &--single-recipe {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: transparent;
    &:hover {
      cursor: pointer;
      background-color: v.$btn-primary-creme;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__right {
    display: flex;
    flex-direction: row;
  }

  &__nameNumber {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    color: v.$text-green-dark;
  }

  &__number {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 400;
    color: v.$text-green-dark;
    padding-bottom: 20px;
    &--single-recipe {
      padding-bottom: 0px;
      font-size: 18px;
      padding: 5px 10px;
      border-radius: 50%;
      background-color: v.$btn-primary-creme-hover;
    }
  }
  &__title {
    font-size: 25px;
    font-weight: 400;
    color: v.$text-green-dark;
    padding-bottom: 15px;
    line-height: 0.9;
    &--mini {
      padding-top: 15px;
      padding-bottom: 0px;
    }
    &--single-recipe {
      padding-bottom: 0px;
    }
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 5px;
    > img {
      width: 20px;
      height: 20px;
    }
    > span {
      font-size: 16px;
      font-weight: 400;
      color: v.$text-green-dark;
    }

    &--single-recipe {
      padding-left: 40px;
    }
  }

  &--mini {
    width: 400px;
    min-height: 150px;
    &:hover {
      cursor: pointer;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__likes, &__diet, &__difficulty {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #b0c0b0;
    padding: 3px 15px;
    border-radius: 25px;
    font-weight: 400;
    > img {
      width: 20px;
      height: 20px;
    }
    > span {
      font-size: 16px;
      font-weight: 400;
      color: v.$text-green-dark;
    }
  }

  &__infos {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
