@use '../base/fonts';

$font-heading: 'Poppins', sans-serif;
$font-body: 'Inter', sans-serif;

// Background colors
$bg-green: #396039;
$bg-white: #ffffff;

// Text colors
$text-white: #faf0e6;
$text-green: #008000;
$text-green-dark: #10310b;


// Button colors
$btn-primary-green: #396039;
$btn-primary-green-hover: #055e05;
$btn-primary-creme:#faf0e6;
$btn-primary-creme-hover: #fae0c5;
$btn-secondary: #ebefeb; 
$btn-tertialy : #577450;
$btn-text-green: #1e5515;
$btn-active:#B7C5B7;

// Card colors
$bg-green-card: #c4cfc4;
$bg-creme-card: #fefbf8;
$bg-recipe-card: #dbe0db;
$bg-recipe-card-hover: #c7d3c7;

$bg-input: #fbf3eb;

