<section class="theme theme--white">
  <div class="container">
    <div class="cookbook">
      <button class="btn btn--previous" routerLink="" type="button">
        <img class="btn__icon" src="assets/img/arrow_left.svg" />
        <p class="btn__text btn__text--previous">Back</p>
      </button>
      <div class="cookbook__content">
        <div class="cookbook__content-head">
          <div class="cookbook__headline">
            <h3 class="cookbook__title">Cookbook</h3>
            <span class="cookbook__subtitle"
              >From quick bites to gourmet delights, explore them all in our ultimate cookbook and
              get inspired for your next culinary adventure.</span
            >
          </div>
          <div class="cookbook__mostLiked">
            <div class="cookbook__mostLiked-head">
              <span class="cookbook__mostLiked-title">Most liked recipes </span>
              <img src="assets/img/hearth.svg" alt="" />
            </div>
            <div
              class="cookbook__mostLiked-recipes"
              (mousedown)="startDrag($event)"
              (mousemove)="onDrag($event)"
              (mouseup)="stopDrag()"
              (mouseleave)="stopDrag()"
            >
              @for (r of mostLiked(); track r.id) {
                <app-recipe-mini-card
                  [recipe]="r"
                  (click)="handleClick($event, r)"
                ></app-recipe-mini-card>
              }
            </div>
          </div>
        </div>
        <div class="cookbook__cuisines">
          @for (cuisine of cuisines; track cuisine.name) {
            <div class="cookbook__cuisine-card"  (click)="goToCuisine(cuisine.name)">
              <div class="cookbook__cuisine-head">
                <span class="cookbook__cuisine-title">{{ cuisine.label }}</span>
                <span class="cookbook__cuisine-icon">{{ cuisine.labelIcon }}</span>
              </div>
              <div class="cookbook__cuisine-image-wrapper">
                <img [src]="cuisine.image" [alt]="cuisine.label" class="cookbook__cuisine-image" />
              </div>
            </div>
          }
        </div>
        <button class="btn btn--newRecipe" routerLink="/recipe-generator" type="button">
          <p class="btn__text btn__text--previous">Generate new recipe</p>
          <img class="btn__icon" src="assets/img/arrowGreen_right.svg" />
        </button>
      </div>
    </div>
  </div>
</section>
