@use '../abstracts/variables' as v;

.recipe-list {
  padding: 100px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-inline: 50px;
  }
  &__hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__recipes {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    padding-top: 25px;
  }

  &__left,
  &__right,
  &__page {
    border: none;
    background: transparent;
    cursor: pointer;
    color: v.$text-green-dark;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 400;
    &:disabled {
      cursor: not-allowed;
    }
    &:hover:not(:disabled):not(.active) {
      background-color: #e7ece7;
    }
  }

  &__page.active {
    background-color: #c4d0c4;
  }

  &__hero-wrapper {
    position: relative;
    width: 100%;
  }

  &__hero {
    width: 100%;
    display: block;
    border-radius: 20px;
  }

  &__hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1e5515;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
  }
}

@media (max-width: 1000px) {
  .recipe-list {
    &__hero-title {
      font-size: 30px;
    }
  }
}

@media (max-width: 770px) {
  .recipe-list {
    padding: 100px 5px 50px 5px;
    &__content {
      padding-inline: 0px;
    }
  }
}

@media (max-width: 600px) {
  .recipe-list {
    &__hero-title {
      font-size: 25px;
    }
  }
}

@media (max-width: 400px) {
  .recipe-list {
    &__header {
      flex-direction: column;
      gap: 5px;
    }
     &__hero-title {
      font-size: 20px;
    }
  }
}
