@use '../abstracts/variables' as v;

.preference {
  min-height: 100vh;
  padding: 100px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-block: 20px;
    font-size: 40px;
    font-weight: 400;
    color: v.$text-green-dark;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
  }

  &__how-many {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 25px;
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 10px;
  }

  &__portions,
  &__chef {
    > span {
      font-size: 20px;
      color: v.$text-green-dark;
    }
  }

  &__settings {
    display: flex;
    flex-direction: column;
    background-color: v.$bg-green-card;
    border-radius: 15px;
    padding: 25px;
  }

  &__value {
    display: flex;
    align-items: center;
  }

  &__number {
    background-color: v.$bg-green-card;
    margin-right: 10px;
    padding-inline: 5px;
    color: v.$text-green-dark;
  }

  &__time,
  &__cuisine,
  &__diet {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  &__span {
    font-size: 23px;
    font-weight: 500;
    color: v.$text-green-dark;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
  }
  &__options {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }

  &__option-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    > label {
      > input {
        display: none;
      }
      >input:checked + .preference__option {
        background-color: v.$btn-active;
      }
    }
    >small{
      color:v.$btn-text-green;
      font-size: 14px;
    }
  }

  &__option {
    padding: 5px 15px;
    border-radius: 12px;
    background-color: v.$btn-primary-creme;
    color: v.$btn-text-green;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    font-size: 18px;
    &:hover {
      background-color: v.$btn-primary-creme-hover;
    }
  }
}
