<section class="theme">
  <div class="container">
    <div class="landing-page">
      <div class="landing-page__left">
        <div class="landing-page__main">
          <p class="landing-page__description">AI-Powered recipe generator</p>
          <h1 class="landing-page__title">Code à Cuisine</h1>
          <button routerLink="recipe-generator" class="btn">Get started</button>
        </div>
        <div class="landing-page__cookbook">
          <p class="landing-page__question">Hungry for inspiration?</p>
          <button class="btn btn--secondary" routerLink="cookbook">
            <p class="landing-page__button-text">Go to cookbook</p>
            <img class="landing-page__button-icon" src="assets/img/arrow_right.svg" alt="arrow" />
          </button>
        </div>
      </div>
      <div class="landing-page__right">
        <img class="landing-page__plate landing-page__plate--first" src="/assets/img/plate1.svg" alt="">
        <img class="landing-page__plate landing-page__plate--second" src="/assets/img/plate2.svg" alt="">
        <img class="landing-page__plate landing-page__plate--third" src="/assets/img/plate3.svg" alt="">
      </div>
    </div>
  </div>
</section>
